/* main file */
/* config BEGIN */
/* config END */
/* adding default widths value in case it wasn't set in main css */
/* base files - ready to use */
/* normalization and reset rules - partially based on normalize.css */
/* layout */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
strike, strong, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  font-size: 100%; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block; }

audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1; }

body {
  *margin: 0; }

/* lists */
dl,
menu,
ol,
ul {
  margin: .5em 0; }

dd {
  margin: 0 0 0 20px; }

menu,
ol,
ul {
  padding: 0 0 0 20px; }

nav ul,
nav ol {
  list-style: none;
  list-style-image: none;
  margin: 0;
  padding: 0; }

/* blockquote */
blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

/* form */
form {
  margin: 0; }

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  *overflow: visible; }

/* table */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* typography */
/* responsive font size */
@media only screen and (max-width: 768px) {
  body {
    font-size: 14px; } }
@media only screen and (max-width: 480px) {
  body {
    font-size: 12px; } }

/* default font stacks*/
/* sans serif */
/* serif */
/* monospaced */
/* font face mixin */
/* heading */
.heading {
  line-height: 1em;
  font-size: 1.15em; }
  .heading.space {
    margin: .25em 0; }
    .heading.space.first {
      margin-top: 0; }
  .heading.peta {
    font-size: 2.25em; }
  .heading.tera {
    font-size: 2.0em; }
  .heading.giga {
    font-size: 1.75em; }
  .heading.mega {
    font-size: 1.5em; }
  .heading.kilo {
    font-size: 1.25em; }
  .heading.micro {
    font-size: 1em; }
  .heading.nano {
    font-size: .75em; }
  .heading.piko {
    font-size: .5em; }

/* general paragraph */
p {
  margin: 0;
  line-height: 1.25em; }

/* the grid */
/* general container */
.container {
  margin: 0 auto;
  /*padding: 0 1%;*/
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  clear: both; }
  .container:after {
    content: " ";
    display: block;
    clear: both; }
  @media only screen and (max-width: 768px) {
    .container {
      min-width: 320px;
      width: auto; } }
  @media only screen and (max-width: 480px) {
    .container {
      min-width: 240px;
      width: auto; } }
  .container.full {
    width: 100%; }
  .container.fixed {
    max-width: 768px; }
  @media only screen and (max-width: 768px) {
    .container .container {
      min-width: 0px; } }
  @media only screen and (max-width: 480px) {
    .container .container {
      min-width: 0px; } }

/* grid container defining mobile wrappers, that should have a gap and not cover whole screen - usually one parent wrapper */
@media only screen and (max-width: 768px) {
  .container.mprime {
    padding-left: 5%;
    padding-right: 5%; } }

/* column container */
.cc {
  width: 100%;
  clear: both; }
  .cc::after {
    content: " ";
    display: block;
    clear: both; }

/* columns */
/* textual gutter (layout) */
.tg-small > [class*="c-"], .tg-small .cc > [class*="c-"] {
  padding: 0 1% 1% 0; }

.tg-medium > [class*="c-"], .tg-medium .cc > [class*="c-"] {
  padding: 0 2% 2% 0; }

.tg-large > [class*="c-"], .tg-large .cc > [class*="c-"] {
  padding: 0 5% 5% 0; }

@media only screen and (max-width: 480px) {
  .tg-small > [class*="c-"] {
    padding: 0 1% 1% 1%; }

  .tg-medium > [class*="c-"] {
    padding: 0 2% 2% 2%; }

  .tg-large > [class*="c-"] {
    padding: 0 5% 5% 5%; } }
/* base grid */
.c-one {
  width: 8.33333%; }

.c-two {
  width: 16.66667%; }

.c-three {
  width: 25%; }

.c-four {
  width: 33.33333%; }

.c-five {
  width: 41.66667%; }

.c-six {
  width: 50%; }

.c-seven {
  width: 58.33333%; }

.c-eight {
  width: 66.66667%; }

.c-nine {
  width: 75%; }

.c-ten {
  width: 83.33333%; }

.c-eleven {
  width: 91.66667%; }

.c-twelve {
  width: 100%; }

/* fraction grid */
.c-half {
  width: 50%; }

.c-third {
  width: 33.3333%; }

.c-fourth {
  width: 25%; }

.c-fifth {
  width: 20%; }

.c-sixth {
  width: 16.66667%; }

.c-seventh {
  width: 14.28%; }

.c-eighth {
  width: 12.5%; }

.c-ninth {
  width: 11.11111%; }

/* column nesting limit -> 4 levels allowed - may be removed or tweaked if needed */
[class*="c-"] > [class*="c-"] > [class*="c-"] > [class*="c-"] > [class*="c-"] {
  width: 100%; }

/* structural grid (layout) */
[class*="c-"] {
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  min-height: 1px;
  padding: 0 10px; }
  @media only screen and (max-width: 480px) {
    [class*="c-"] {
      /* all columns go 100% frenzy on small screen */
      width: 100%;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box; } }

[class*="c-"] + [class*="c-"]:last-child {
  float: right; }

/* import of apgrid */
/* common styling */
/* classes */
.hidden {
  display: none !important; }

.text-access {
  text-indent: 100%;
  overflow: hidden;
  white-space: nowrap; }

.f-left {
  float: left !important; }

.f-right {
  float: right !important; }

/* mixins */
.nav .nav--list {
  padding: 0;
  list-style: none; }
.nav .nav--link {
  display: block;
  text-decoration: none; }
  .nav .nav--link:hover {
    text-decoration: underline; }
.nav.horizontal .nav--item {
  float: left; }

.media {
  margin: 10px;
  overflow: hidden; }
  .media .media--content {
    width: 100%;
    height: auto; }

.content-cell {
  display: none; }

.content-cell[id]:target {
  display: block; }

.content-cell:not(:target) ~ .content-cell:last-of-type {
  display: block; }

.content-cell:target ~ .content-cell:last-of-type {
  display: none; }

/* responsive stuff */
/* making d images adapt their size - treshold shoud be customized */
.r-image {
  max-width: 100%;
  height: auto; }

/* extensions - need to be called from scss file as mixins */
/* mixin: fade in hover transition efect */
/* universal transition efect mixin for all or defined attributes */
/* mixins for border radiuses | s-shorthand, c-complex */
/* mixins for gradients | top->down td-gradient */
/* mixins for gradients | left->right rl-gradient */
/* effects */
/* adding imprint look with white-ish border from top a black-ish at the bottom */
/* css triangles */
/* overlay background dim mixin */
.overlay-dim {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #000000;
  filter: alpha(opacity=50);
  opacity: 0.5; }

.overlay-content {
  height: auto;
  left: 0px;
  position: fixed;
  top: 10%;
  width: 100%;
  text-align: center;
  z-index: 9999; }

.overlay-content-w {
  position: relative;
  width: 50%;
  background-color: white;
  margin: 0 auto; }
  @media only screen and (max-width: 768px) {
    .overlay-content-w {
      width: 90%;
      min-width: 240px; } }
  .overlay-content-w .close {
    position: absolute;
    width: 20px;
    height: 20px;
    right: -10px;
    top: -10px;
    text-decoration: none;
    text-align: center;
    line-height: 20px;
    font-size: 14px;
    font-weight: bold;
    color: white;
    background-color: #000;
    border: 2px solid #fff;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    font-weight: bold; }
  .overlay-content-w:after {
    content: " ";
    display: block;
    clear: both; }

.nice-input, .nice-button {
  margin: 2px 0;
  padding: 5px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 3px;
  border: none; }

.nice-input {
  border: 1px solid rgba(0, 0, 0, 0.5);
  color: #888;
  width: 100%;
  box-shadow: 1px 1px 1px rgba(255, 255, 255, 0.4), 1px 1px 1px rgba(0, 0, 0, 0.25) inset; }

.nice-button {
  display: inline-block;
  border: 1px solid #aaa;
  text-decoration: none;
  min-width: 50px;
  text-align: center;
  color: #222;
  background: #eeeeee;
  /* Old browsers */
  background: -moz-linear-gradient(top, #eeeeee, #dddddd);
  /* FF3.6+ */
  background: -webkit-linear-gradient(top, #eeeeee, #dddddd);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #eeeeee, #dddddd);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #eeeeee, #dddddd);
  /* IE10+ */
  background: linear-gradient(top, #eeeeee, #dddddd);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#eeeeee, endColorstr=#dddddd,GradientType=0 );
  /* IE6-9 */ }

body {
  padding: 50px 20px;
  background: #333;
  color: #eee;
  font-family: monospace;
  font-size: 16px; }

.header {
  margin-bottom: 20px; }

.row {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background: #eee;
  color: #111;
  padding: 10px;
  margin-bottom: 10px; }
  .row p {
    margin-bottom: 5px; }

.value {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  padding: 2px 3px;
  background: #5A016B;
  color: #eee;
  font-weight: bold;
  display: inline-block; }
