/* common styling */

/* classes */

.hidden {
    display:none !important;
}

@mixin text-access {
	text-indent: 100%;
	overflow: hidden;
	white-space: nowrap;
}

.text-access {
	@include text-access
}

.f-left {
	float: left !important;
}

.f-right {
	float: right !important;
}


/* mixins */

@mixin border-box {
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;

}


//universal background mixin

@mixin icon-sprite($is-bposition: 0 0, $icon-sprite:'pc.png') {
	background: transparent;
	background-image: url($icon-sprite);
	background-repeat: no-repeat;
	background-position: $is-bposition;
}



//navigation - nav parent module - can be extended

.nav {

	.nav--list {
		padding: 0;
		list-style: none;
	}

	.nav--item {
		
	}

	.nav--link {
		display:block;
		text-decoration:none;

		&:hover {
			text-decoration:underline;
		}
	}


	&.horizontal {
		.nav--item {float:left}
	}

}


//media object

.media {
	margin: 10px;
	overflow: hidden;

	//making sure image will fit - hopefully
	.media--content {
		width: 100%;
		height: auto;
	}

}


// content toggle - css-based navigation 

//if applied to HTML, first .content-cell must be the last-of-type in order for css to work correctly

.content-cell {
	display:none;
}

.content-cell[id]:target {
	display:block;
}

.content-cell:not(:target) ~ .content-cell:last-of-type {
	display:block;
}

.content-cell:target ~ .content-cell:last-of-type {
	display:none;
}